DATABASE_URL=sqlite:///./app.db
CORS_ORIGIN=http://localhost:3000
GEMINI_API_KEY=AIzaSyDxOd7BvQCJoRX214MUrCM
GEMINI_MODEL=models/gemini-2.5-flash
ASSEMBLYAI_API_KEY=46c7248a8ffd425f8f44364172603e5a
ASSEMBLYAI_API_BASE=https://api.assemblyai.com
